* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'erzi';
}
ul{
    list-style: none;
}
a{
    color:red;
    text-decoration: none;
}

@font-face {
    font-family: 'erzi';
    src: url(../font/ErZiYuanChenZhuoSong-2.ttf);
}